<div class="container df">

  <div class="  card text-center cw" style="width: 20rem;">
    <div class="img1 i1"></div>
    <div class="card-body">
      <h5 class="card-title">Angular list of prohibited words</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a  [routerLink]="[ '/works/censor' ]" routerLinkActive="active" class="d-block btn btn-success">detalis</a>

    </div>
  </div>

  <div class="  card text-center cw" style="width: 20rem;">
    <div class="img1 i2 "></div>
    <div class="card-body">
      <h5 class="card-title">Angular task list</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" class="d-block btn btn-success">detalis</a>
    </div>
  </div>

  <div class="  card text-center cw" style="width: 20rem;">
    <div class="img1 i3"></div>
    <div class="card-body">
      <h5 class="card-title">Angular users list</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a [routerLink]="[ '/works/userlist' ]" routerLinkActive="active" class="d-block btn btn-success">detalis</a>
    </div>
  </div>

</div>
