
<div class="d-flex flex-column ">

  <div class="container-fluid m50">
    <div class="row border">
      <div class="col p-3 text-center">
        <h3>List of prohibited words:</h3>
      </div>
    </div>
  </div>

  <div id="flc" class="container w-500px  border col-md-6 col-sm-10  ">
    <div class="row ">
      <div class="col">
        <form id="forma1" class="">
          <div class="form-row mt-3">
            <div class="form-group">
              <h5 class="ml-1">Bad words:</h5>
            </div>
            <div class="form-group">
              <h5 id="badWords" class="ml-3 text-danger">
              </h5>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <input type="text" id="inputBadWords" class="form-control" placeholder="Ведіть слова...">
            </div>
            <div class="form-group ">
              <button id="addBtn" type="button" class="btn btn-warning mb-2 ml-2">Add</button>
            </div>
            <div class="form-group">
              <button id="resetBtn" type="button" class="btn btn-danger mb-2  ml-2">Reset</button>
            </div>
          </div>
          <div class="form-group">
            <textarea id="inputText" type="text" class="form-control" rows="3" placeholder="Ведіть текст..."></textarea>
          </div>
          <div class="form-group">
            <button id="cebsorBtn" type="button" class="btn btn-success mb-2 col">Cencor</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
